@{
//NetworkDataAccess.User siteUser = new NetworkDataAccess.User();
//bool nouser = true;
string baseURL = HttpContext.Current.Request.Url.Authority;
//if (Session["User"] != null)
//{
//    siteUser = new { FirstName = "Heshitha Chathuranga" };
//    nouser = false;
//}
//else
//{
//    Response.Redirect("~/User/Login");
//    nouser = true;
//}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to EMG Portal</title>
    <base href="http://@(baseURL)" />
    @*<base href="http://localhost:4960" />*@
    @Styles.Render("~/Content/Style")
    @Styles.Render("~/Content/Style/Fonts")
    @Styles.Render("~/AdminLTE/css")
    @Styles.Render("~/Content/SiteCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminLTE")
    @Scripts.Render("~/bundles/angular")

</head>
<body class="skin-blue sidebar-mini fixed" ng-app="app" ng-controller="LandingPageController">
    @*<input type="hidden" value="@(!nouser ? siteUser.UserID : 0)" id="hdnUserID" />*@
    <div class="wrapper">
        <header class="main-header fixed">
            <a href="../Home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>EMG</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>EMG</b> Portal</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="javascript:return false;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="javascript:return false;" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Uploads/ProfileImages/default-user.jpg" class="user-image" alt="User Image" onerror="this.onerror = null; this.src = baseUrl + '/Uploads/ProfileImages/default-user.jpg'">
                                <span class="hidden-xs">Logged In User</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Uploads/ProfileImages/default-user.jpg" class="img-circle" alt="User Image" onerror="this.onerror = null; this.src = baseUrl + '/Uploads/ProfileImages/default-user.jpg'">
                                    <p>
                                        @*@(!nouser ? siteUser.FirstName + " " + siteUser.LastName : "")
                                        <small>@(!nouser ? siteUser.Username : "")</small>
                                        <b>Your Points: <span ng-bind="Points"></span></b>*@
                                        Logged In User
                                    </p>
                                    <p>
                                        
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @*<a href="/Test/Profile" class="btn btn-default btn-flat"><i class="fa fa-user"></i>&nbsp;Profile</a>*@
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:return false" class="btn btn-default btn-flat" ng-click="SignOut()"><i class="fa fa-sign-out"></i>&nbsp;Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Uploads/ProfileImages/default-user.jpg" class="img-circle" alt="User Image" onerror="this.onerror = null; this.src = baseUrl+'/Uploads/ProfileImages/default-user.jpg'">
                    </div>
                    <div class="pull-left info">
                        <p>Logged In User</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">GENERAL</li>
                    <li class="treeview">
                        <a href="javascript:return false;">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="subMenuItem ViewThreats"><a href="/#/"><i class="fa fa-user"></i> Threats</a></li>
                        </ul>
                    </li>                    
                </ul>
            </section>
        </aside>
        @RenderBody()
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0 {{model.helloAngular}}
            </div>
            <strong>Copyright © 2016 <a href="javascript:return false;"></a>.</strong> All rights reserved.
        </footer>
    </div>
</body>
</html>
